* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background: rgba(244, 72, 191, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.header-logo {
  font-size: 30px;
}

.cart-icon {
  position: absolute;
  display: inline-block;
  right: 100px;
  top: 22px;
  z-index: 1;
}
@media (min-width: 576px) {
  .cart-icon {
    right: 105px;
  }
}
.cart-icon #shopping {
  cursor: pointer;
  font-size: 20px;
}
.cart-icon #quantity {
  font-size: 14px;
  left: 10px;
  position: absolute;
  background-color: red;
  width: 30px;
  bottom: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50px;
}

.nav-item {
  font-weight: 500;
}
.nav-item .nav-link.active {
  color: black;
}
.nav-item .nav-link.active::after {
  width: 100%;
}
.nav-item .nav-link {
  margin: 0 25px;
  position: relative;
}
.nav-item .nav-link::after {
  content: "";
  background-color: black;
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: 0.5s;
}
.nav-item .nav-link:hover::after {
  width: 100%;
}

#myBody {
  background: linear-gradient(to right, #a83279, #d38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
}

.product {
  margin-top: 100px;
}
.product .dropdown {
  margin-bottom: 20px;
}
.product .dropdown #selectBrand {
  margin-bottom: 50px;
  padding: 5px 30px;
}
@media (min-width: 576px) {
  .product .dropdown #selectBrand {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .product .dropdown #selectBrand {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .product .dropdown #selectBrand {
    width: 20%;
  }
}

.navbar-nav {
  text-align: center;
}

#product-list .product_item {
  padding: 20px 50px;
}
@media (min-width: 576px) {
  #product-list .product_item {
    padding: 0px 100px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  #product-list .product_item {
    padding: 0px 20px;
  }
}
@media (min-width: 992px) {
  #product-list .product_item {
    padding: 0px 50px;
  }
}
@media (min-width: 1200px) {
  #product-list .product_item {
    padding: 0px 30px;
  }
}
@media (max-width: 575px) {
  #product-list .product_item {
    padding: 0px 50px;
    margin-bottom: 50px;
  }
}
#product-list .product_item .product_box {
  background-color: white;
  border-radius: 10px;
  position: relative;
  transition: 0.2s all;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#product-list .product_item .product_box:hover {
  transform: scale(1.1);
}
#product-list .product_item .product_box:hover .product_overlay {
  opacity: 1;
}
#product-list .product_item .product_box:hover .product_overlay .overlay_info {
  top: 20%;
}
#product-list .product_item .product_box:hover .product_overlay #cart-btn {
  top: 80%;
}
#product-list .product_item .product_box .card-header {
  text-align: center;
  padding: 20px;
}
#product-list .product_item .product_box .card-body {
  text-align: center;
}
#product-list .product_item .product_box .card-body .product_name {
  font-size: 1.1rem;
}
#product-list .product_item .product_box .card-body #desc {
  font-size: 1.1rem;
}
#product-list .product_item .product_box .card-body .product_type {
  display: inline;
  padding: 2px 20px;
  background-color: rgb(182, 180, 180);
  border-radius: 5px;
  cursor: pointer;
}
#product-list .product_item .product_box .card-footer {
  text-align: center;
  padding: 10px 0;
}
#product-list .product_item .product_box .card-footer #stock-status {
  font-weight: 700;
  color: green;
}
#product-list .product_item .product_box .product_overlay {
  position: absolute;
  background-color: rgba(61, 61, 61, 0.849);
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 0.2s all;
  overflow: hidden;
  border-radius: 10px;
}
#product-list .product_item .product_box .product_overlay .overlay_info {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  top: 0;
  left: 10%;
  flex-direction: column;
  display: flex;
  transition: 0.2s;
}
#product-list .product_item .product_box .product_overlay .overlay_info a {
  color: rgb(0, 221, 0);
}
#product-list .product_item .product_box .product_overlay #cart-btn {
  background-color: #f9d412;
  transition: 0.2s all;
  color: black;
  font-weight: 600;
  position: absolute;
  top: 95%;
  left: 50%;
  width: 40%;
  height: 10%;
  transform: translate(-50%, -50%);
}
#product-list .product_item .product_box .product_overlay #cart-btn:hover {
  padding: 10px 20px;
  width: 50%;
  height: 12%;
}

.cart_item {
  font-size: 1.1rem;
  text-align: center;
  color: white;
  font-weight: 700;
}
@media (min-width: 576px) {
  .cart_item img {
    width: 50px;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .cart_item img {
    width: 70px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .cart_item img {
    width: 100px;
  }
}
@media (max-width: 575px) {
  .cart_item img {
    width: 50px;
    height: 100px;
  }
}
@media (min-width: 576px) {
  .cart_item {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .cart_item {
    font-size: 1.1rem;
  }
}
@media (max-width: 575px) {
  .cart_item {
    font-size: 14px;
  }
}
.cart_item:hover {
  background-color: rgba(128, 128, 128, 0.521);
}
.cart_item #remove {
  text-align: center;
}
.cart_item #remove #recycle {
  margin-right: 20px;
  color: rgb(255, 39, 39);
  cursor: pointer;
}
.cart_item .desc-btn {
  border: 1px solid black;
  background-color: white;
  padding: 0 10px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}
.cart_item .desc-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.cart_item .insc-btn {
  border: 1px solid black;
  background-color: white;
  padding: 0 10px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}
.cart_item .insc-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.cart_item #count {
  margin: 0 5px;
}

#table-cart-item {
  width: 100%;
}

.cart .cart-content {
  position: fixed;
  right: -1200px;
  top: 73px;
  background-color: rgb(20, 20, 20);
  width: 40%;
  height: 100%;
  z-index: 2;
  transition: 0.2s;
}
@media (min-width: 576px) {
  .cart .cart-content {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .cart .cart-content {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .cart .cart-content {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .cart .cart-content {
    width: 100%;
  }
}
.cart .cart-content .title-cart {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.397);
}
.cart .cart-content .title-cart #close-shopping {
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.cart .cart-content .cart-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.397);
  padding: 20px;
}
.cart .cart-content .cart-footer .purchase {
  margin-right: 20px;
  padding: 10px 60px;
  font-size: 1.8rem;
  margin-top: 10px;
}
@media (min-width: 576px) {
  .cart .cart-content .cart-footer .purchase {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .cart .cart-content .cart-footer .purchase {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .cart .cart-content .cart-footer .purchase {
    font-size: 14px;
  }
}
.cart .cart-content .cart-footer .clear {
  padding: 10px 30px;
  font-size: 1.8rem;
  margin-top: 10px;
}
@media (min-width: 576px) {
  .cart .cart-content .cart-footer .clear {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .cart .cart-content .cart-footer .clear {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .cart .cart-content .cart-footer .clear {
    font-size: 14px;
  }
}
.cart .cart-content .cart-overflow {
  overflow: auto;
  height: 600px;
}
@media (max-width: 575px) {
  .cart .cart-content .cart-overflow {
    height: 550px;
  }
}
.cart .shopping-cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.568);
}

.active .cart-content {
  right: 0px;
}
.active .shopping-cart-overlay {
  opacity: 1;
  z-index: 0;
}/*# sourceMappingURL=main.css.map */